:root {
  --basic-white: #FFFFFF;
  --basic-black: #323232;
  --basic-dark-black: #353535;
  --dull-white: rgba(255, 255, 255, 0.2);
  --basic-gray: #999999;
  --basic-dark-gray: #849D8F;
  --nav-hover: #FBDED7;
  --nav-push: #F6B5A5;
  --nav-on-page: #D07058;
  --catalog-push: #EDEDED;
  --mailing-white: #F8F7F4;
  --mailing-gary: #5A5A5A;
  --basic-button: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --hover-button: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --push-button: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --push-button-shadow: inset 0px 2px 2px #942718;
  --hover-slider: rgba(255, 255, 255, 0.4);
  --basic-shadow: inset 0px 2px 1px #696969;
  --shadow-slide-button: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --shadow-hover-slide-button: 0px 2px 2px #AC1000;
  --basic-berry: #ef3038;
  --basic-choco: #d2691e;
  --shadow-banner-button: 0px 2px 2px rgba(85, 8, 0, 0.54);
  --shadow-hover-banner-button:  0px 1px 2px #AC1000;
  --shadow-item-price: 0px 1px 3px rgba(49, 50, 53, 0.5);
  --shadow-product-item: 0px 20px 20px rgba(0, 0, 0, 0.2);
  --advantage: #f5f5dc;
  --white-link-hover: #FFBC9E;
  --white-link-hover-border: rgba(255, 188, 158, 0.3);
  --border-icon: rgba(255, 255, 255, 0.5);
  --border-icon-active: rgba(255, 255, 255, 0.7);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  background: var(--basic-dark-gray);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.header-container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.white-link {
  color: var(--basic-white);
  border-bottom: 1px solid var(--dull-white);
}

.white-link:hover, .white-link:active {
  color: var(--white-link-hover);
  border-bottom: 1px solid var(--white-link-hover-border);
}

.main-nav {
  display: flex;
}

.logo {
  padding-top: 8px;
}

.nav-item {
  list-style: none;
  line-height: 18px;
  font-weight: bold;
  margin-right: 32px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 24px;
  padding: 23px 0 0;
}

.nav-button {
  display: inline-block;
  padding-top: 8px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--dull-white);
}

.nav-button:hover {
  padding: 6px 14px;
  margin-right: -14px;
  margin-left: -14px;
  background: var(--basic-white);
  border-radius: 26px;
  color: var(--basic-black);
  border-color: transparent;
}

.nav-button:active {
  background: var(--catalog-push);
  box-shadow: var(--basic-shadow);
  border-color: transparent;
}

.tool-list {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  padding: 23px 0 0;
}

.tool-item {
  position: relative;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.tool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 12px;
}

.button-search {
  width: 32px;
  height: 32px;
  background: var(--dull-white);
  border-radius: 50%;
}

.button-login {
  color: var(--basic-white);
  padding: 8px 16px;
  background: var(--dull-white);
  border-radius: 20px;
}

.button-cart {
  color: var(--basic-white);
  padding: 8px 16px;
  background: var(--dull-white);
  border-radius: 20px;
}

.tool-button:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

.icon path:hover {
  fill: var(--basic-black);
}

.info {
  display: block;
  text-align: right;
}

.info p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 8px 0;
}

.info-phone-number {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.visually-hidden {
  display: none;
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 50px;
}

.slide-title {
  width: 672px;
  margin: 0 auto 27px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: block;
}

.button {
  color: var(--basic-white);
}

.slide-button {
  display: block;
  width: 261px;
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
  padding: 9px 23px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  background: var(--basic-button);
  border-radius: 70px;
  box-shadow: var(--shadow-slide-button);

}

.slide-button:hover {
  box-shadow: var(--shadow-hover-slide-button);
  background: var(--hover-button);
}

.slide-button:active {
  box-shadow: var(--push-button-shadow);
  background: var(--push-button);
}

.slider-button {
  cursor: pointer;
  padding: 8.5px;
  border-radius: 50%;
  background: none;
  border: 2px solid var(--basic-white);
  margin-right: 8px;
  outline: none;
}

.slider-button:hover {
  background: var(--hover-slider);
}

.active-button, .active-button:hover {
  background: var(--basic-white);
  cursor: default;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
}

.banners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 35px;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 560px;
  box-sizing: border-box;
  padding: 15px 20px 20px;
  min-height: 229px;
  border-radius: 16px;
  align-items: flex-start;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  font-weight: bold;
}

.banner-berry {
  background-image: url("../img/raspberry.jpg");
  background-color: var(--basic-berry);
}

.banner-choco {
  background-image: url("../img/chocolate.jpg");
  background-color: var(--basic-choco);
}

.banner-title {
  margin: 0 0 16px;
  font-size: 35px;
  line-height: 41px;
}

.banner-text {
  margin: 0 0 42px;
  font-size: 18px;
  line-height: 22px;
}

.banner-button {
  padding: 11px 22px;
  background: var(--basic-button);
  border-radius: 70px;
  box-shadow: var(--shadow-banner-button);
  align-self: flex-end;
}

.banner-button:hover {
  background: var(--hover-button);
  box-shadow: var(--shadow-hover-banner-button);
}

.banner-button:active {
  background: var(--push-button);
  box-shadow: var(--push-button-shadow);
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 -13px;
  padding: 0;
}

.product-item {
  position: relative;
  width: 293px;
  box-sizing: border-box;
  list-style: none;
  padding-bottom: 18px;
}

.product-item h3 {
  padding: 0 13px;
  margin: 0 0 15px;
  text-align: center;
}

.product-item img {
  display: block;
  border-radius: 50%;
  padding: 6px 13px;
}

.product-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.item-price {
  display: block;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: var(--shadow-item-price);
  margin: -56px 0 17px;
  padding: 0;
}

.item-price-small {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-shadow: var(--shadow-item-price);
}

.product-item:hover {
  z-index: 10;
  margin-bottom: -48px;
  border-radius: 4px;
  background: var(--dull-white);
  box-shadow: var(--shadow-product-item);
}

.product-item:hover .item-button {
  display: block;
}

.item-button {
  display: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  width: 200px;
  padding: 12px 16px;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
  background: var(--basic-button);
  box-shadow: var(--shadow-hover-banner-button);
}

.advantage-item {
  width: 540px;
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
}

.advantages {
  background-image: url("../img/advantage.png");
  background-position: center;
  background-color: var(--advantage);
  border-radius: 16px;
  padding: 24px 20px;
  margin: 0 0 40px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantage-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: var(--basic-black)
}

.advantage-text {
  margin: 21px 0 0;
}

.post-mail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.new-poster {
  background-image: url("../img/news.jpg");
  background-position: center;
  background-color: var(--basic-white);
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
  padding: 23px 20px;
  box-sizing:border-box;
}

.news-advert {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  margin: 0;
}

.news-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-dark-black);
  margin: 0;
}

.new-poster h3 {
  width: 287px;
  margin: 5px 0 0;
}

.news-link:hover, .news-link:active {
  color: var(--white-link-hover);
  border-bottom: 2px solid var(--white-link-hover-border);
}

.mailing {
  background: var(--mailing-white);
  border-radius: 16px;

  min-height: 220px;
  padding: 23px 20px;
  box-sizing:border-box;
}

.mailing-text {
  width: 512px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--mailing-gary);
  margin: 0;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
  margin: 0 auto;
}

.address-container {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;
}

.address {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
  background: var(--basic-white);
  top: 63px;
  right: 25px;
  width: 302px;
  min-height: 306px;
  border-radius: 16px;
  padding: 30px 25px;
  box-sizing: border-box;
}

.address b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.address-text {
  margin: 0;
}

.call {
  margin-top: 30px;
}

.btn-open-form {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 27px;
  border-radius: 70px;
  margin-top: 30px;
  background: var(--basic-button);
  box-shadow: var(--shadow-slide-button);
}

.menu-item {
  list-style: none;
}

.menu-item b {
  font-weight: bold;
}

.menu-link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.on-page {
  border-radius: 26px;
  color: var(--basic-white);
  background: var(--nav-on-page);
}

.pagination-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 49px 0 30px;
}

.pagination-list li {
  margin-left: 5px;
}

.pagination-list .pagination-link-active,
.pagination-link-active:hover,
.pagination-link-active:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-list a {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--basic-white);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
}

.pagination-item a:hover {
  background: var(--dull-white);
}

.pagination-item a:active {
  background: var(--basic-white);
  color: var(--basic-black);
}

.arrow-left-link::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 12px;
  background-image: url("../img/left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 7px 12px;
  top: 7px;
  left: 9.5px;
}

.arrow-right-link::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 12px;
  background-image: url("../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 7px 12px;
  top: 7px;
  left: 9.5px;
}

.disable {
  opacity: 0.2;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: -20px 0 0;
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li {
  margin-right: 22px;
}

.catalog-title {
  padding: 0;
  margin: 9px 0 29px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  padding: 18px 27px 25px;
}

.catalog-footer {
  border-top: 1px solid var(--dull-white);
}

.footer-social{
  align-self: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 288px;
  padding: 0;
  margin: 0;
}

.social-item {
  list-style: none;
  margin-right: 12px;
}

.icon-social {
  fill-opacity: 0.8;
  border-radius: 50%;
  border: 2px solid var(--border-icon);
}

.icon-social:hover {
  fill-opacity: 1;
}

.icon-social:active {
  fill-opacity: 1;
  border-color: var(--border-icon-active);
}

.footer-menu {
  display: flex;
  align-self: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 13px;
  line-height: 18px;
}

.menu-list li:nth-child(odd) {
  width: 140px;
}

.menu-list li:nth-child(even) {
  width: 170px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
}
